<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900|PT+Serif:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <title>{{ title }}</title>
</head>

<body>
  
  {{ content | safe }}
  
  {% set js %}
    {% include "js/main.js" %}
  {% endset %}
  
  <script>{{ js | jsmin | safe }}</script>
  
</body>

</html>



