
<header class="bg-orange-600 flex justify-between px-4 py-2 mb-10">
  <div class="text-white font-medium text-2xl">
    <a href="/">Build Process
  </div> 
  <a href="https://github.com/CSS-Tricks/build-process">GitHub</a>
</header>



