---
layout: default
---

<header class="site-header">
  <img class="presented-by" src="/images/css-tricks.svg" alt="Presented by CSS-Tricks">

  <h1>
    <span>Things that a</span>
    Build<br>Process
    <span>could & should do.</span>
  </h1>
  
  <p class="intro-p">This site is about all the things you can and often should do with a build process on a site. To some degree, your <em>local</em> build process, but this is more about the build process that runs <em>as you commit code and deploy</em>. They need to work in unison so that your repo is clear of files that don't need to be there, you're being protected from mistakes, and you're making computers do things they are best at.</p>

  <a class="button repo-button" href="https://github.com/CSS-Tricks/build-process">Repo on GitHub</a>
</header>

<main>
  {%- for process in collections.processes -%}
  <section class="process">
    <div>
      <h2>
        {{ process.data.title }}
      </h2>
      {{ process.templateContent | safe }}
    </div>
  </section>
  {%- endfor -%}
</main>